<% include partials/header %>

<div class="container">
    <h1 style="text-align: center; color: #a8d4ee;">Welcome, <%= currentUser.firstName %>!</h1>
    <div>
        <h2 style="color: #a8d4ee;">
            <strong>
                Your Rooms:
            </strong>
        </h2>
        <br>
        <% currentUser.rooms.forEach(userRoom => { %>
        <%var Id = userRoom.roomInfo._id%>
        <% rooms.forEach(room => { %>
        <%if(room._id.toString() == Id) {%>
        <li style="color: white;">
            <a href="/<%= room.roomId%>">
                <%= room.roomId%>
            </a>
            : <%= userRoom.roomName %>
        </li>
        <% }%>
        <%});%>
        <br>
        <% }); %>
    </div>
</div>

<% include partials/footer %>