<% include partials/header %>

<h1>Welcome, <%= currentUser.firstName %>!</h1>

<div class="container">
    <div>
        <h2>
            <strong>
                Your Rooms:
            </strong>
        </h2>
        <br>
        <% currentUser.rooms.forEach(room => { %>
        <%var Id = room._id%>
        <% rooms.forEach(room => { %>
        <%if(room._id.toString() == Id) {%>
        <li>
            <a href="/<%= room.roomId%>">
                <%= room.roomId%>
            </a>
        </li>
        <% }%>
        <%});%>
        <br>
        <% }); %>
    </div>
</div>

<% include partials/footer %>