<% include partials/header %>

<script type="text/javascript" src="./js/client.js"> </script>

<span id="room" hidden>
    <%= id %>
</span>
<div>
    <canvas id="drawing"></canvas>
</div>
<button id="pen">Pen</button>
<button id="eraser">Eraser</button>

<% include partials/footer %>